<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Register :</h1>
        <form action="/main_register" method="POST">
            {% csrf_token %}
            <p>First name : </p>
            <input type="text" name="first_name">
            <p>Last name : </p>
            <input type="text" name="last_name">
            <p>Date of Birth: </p>
            <input type="date" name="date_of_birth" id="">
            <p>Email : </p>
            <input type="email" name="register_email">
            <p>Password : </p>
            <input type="password" name="password">
            <p>Confirm Password : </p>
            <input type="password" name="confirm">
            <input type="submit" value="Enviar">
        </form>
    </section>
    <section>
        <h1>Login : </h1>
        <form action="/main_logeado" method="POST">
            {% csrf_token %}
            <p>Email : </p>
            <input type="email" name="login_email">
            <p>Password : </p>
            <input type="password" name="login_password">
            <input type="submit" value="Enviar">
        </form>
    </section>
</body>
</html>